.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes text-enter {
  0% {
    transform: translateX(100px);
    opacity: 0%;
  }
  100% {
    transform: none;
    opacity: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spaPage {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#spaHomePage {
  text-align: center;
}
.text-enter1 {
  display: inline-block;
  animation: text-enter 0.5s;
}
.text-enter2 {
  display: inline-block;
  animation: text-enter 0.5s 0.2s backwards;
}
.text-enter3 {
  display: inline-block;
  animation: text-enter 0.5s 0.4s backwards;
}
html {
  box-sizing: border-box;
  background-color: #ffc;
}
.button, button {
  border-radius: 5px;
  padding: 5px;
}
.blue-button {
  color: white;
  background: blue;
}
.red-button {
  color: white;
  background: red;
}
button.selected {
  background: lime;
  color: black;
}
button.selected::before {
  content: '✔';
}
#sectors{
  animation-fill-mode: forwards;
  transform-origin: 160px 160px;
}
text {
  text-anchor: middle;
}
.rotating {
  animation: rotate infinite 1s;
}